/*
  Icon Font: fontsampler-icons
*/
@font-face {
  font-family: "fontsampler-icons";
  src: url("fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.eot");
  src: url("fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.eot?#iefix") format("embedded-opentype"), url("fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.woff") format("woff"), url("fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.ttf") format("truetype"), url("fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.svg#fontsampler-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "fontsampler-icons";
    src: url("fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.svg#fontsampler-icons") format("svg");
  }
}
[data-icon]:before {
  content: attr(data-icon);
}
[data-icon]:before,
.icon-align-center:before,
.icon-align-left:before,
.icon-align-right:before,
.icon-invert-black:before,
.icon-invert-white:before,
.icon-opentype:before,
.icon-settings:before {
  display: inline-block;
  font-family: "fontsampler-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.icon-align-center:before {
  content: "\f100";
}
.icon-align-left:before {
  content: "\f101";
}
.icon-align-right:before {
  content: "\f102";
}
.icon-invert-black:before {
  content: "\f103";
}
.icon-invert-white:before {
  content: "\f104";
}
.icon-opentype:before {
  content: "\f105";
}
.icon-settings:before {
  content: "\f106";
}
/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}
.selectric-responsive {
  width: 100%;
}
.selectric {
  border: 0 solid #fff;
  background: #fff;
  position: relative;
  border-radius: 0;
}
.selectric .label {
  border-radius: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 30px 0 0;
  font-size: inherit;
  line-height: inherit;
  color: #333;
  height: 30px;
  border-bottom: 1px solid #333;
  padding-left: 0.5em;
  box-sizing: border-box;
}
.selectric .button {
  background: #fff;
  border-radius: 0;
  border-bottom: 1px solid #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  color: #333;
  text-align: center;
  box-sizing: border-box;
  *font: 1px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
  /*
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: @buttonColor;
  border-bottom: none;
  */
}
.selectric-hover .selectric {
  border-color: #333;
}
.selectric-hover .selectric .button {
  color: #333;
}
.selectric-hover .selectric .button:after {
  border-top-color: #333;
}
.selectric-open {
  z-index: 9999;
}
.selectric-open .selectric {
  border-color: #333;
  background: #fff;
}
.selectric-open .selectric-items {
  display: block;
}
.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none;
}
.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  background: none !important;
}
.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}
/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1em;
  min-height: 1em;
}
.selectric-items li {
  display: block;
  padding: 8px;
  color: #666;
  cursor: pointer;
}
.selectric-items li.selected {
  background: #EFEFEF;
  color: #444;
}
.selectric-items li:hover {
  background: #F0F0F0;
  color: #444;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}
.selectric-wrapper {
  height: 100%;
}
.selectric-wrapper .selectric {
  height: 100%;
}
.selectric-wrapper .selectric .label,
.selectric-wrapper .selectric .button {
  height: 100%;
}
.rangeslider,
.rangeslider__fill {
  display: block;
}
.rangeslider {
  background: #efefef;
  position: relative;
}
.rangeslider--horizontal {
  height: 1px;
  width: 100%;
  clear: both;
}
.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  box-sizing: border-box;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  background: #333;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-size: 100%;
}
.rangeslider--horizontal .rangeslider__handle {
  top: -4px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -4px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
.fontsampler-warning {
  background: #C0402F;
  color: white;
  padding: 1em;
}
.fontsampler-wrapper.on-loading > * {
  opacity: 0;
  transition: opacity 0s;
}
.fontsampler-wrapper > * {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.fontsampler-wrapper .fontsampler-interface {
  clear: both;
}
.fontsampler-wrapper .fontsampler-interface:after {
  clear: both;
  content: " ";
  display: block;
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-interface-row-break {
  clear: both;
  height: 1px;
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface.columns-1 .fontsampler-ui-block.column {
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface.columns-1 .fontsampler-ui-block.full {
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface.columns-2 .fontsampler-ui-block.column {
  width: 50%;
}
.fontsampler-wrapper .fontsampler-interface.columns-2 .fontsampler-ui-block.full {
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface.columns-3 .fontsampler-ui-block.column {
  width: 33.33333333%;
}
.fontsampler-wrapper .fontsampler-interface.columns-3 .fontsampler-ui-block.full {
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface.columns-4 .fontsampler-ui-block.column {
  width: 25%;
}
.fontsampler-wrapper .fontsampler-interface.columns-4 .fontsampler-ui-block.full {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block.column {
    width: 100% !important;
  }
  .fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block.full {
    width: 100% !important;
  }
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block {
  box-sizing: border-box;
  float: left;
  line-height: 1.2;
}
.rtl .fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block {
  float: right;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block.fontsampler-ui-block-fontsampler {
  height: auto;
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect {
  box-sizing: border-box;
  float: left;
  padding-right: 5px;
  height: 100%;
}
.rtl .fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect {
  float: right;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect.one-item {
  width: 30px;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect.one-item > button {
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect.two-items {
  width: 60px;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect.two-items > button {
  width: 50%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect.three-items {
  width: 90px;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect.three-items > button {
  width: 33%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect > button {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #333;
  font-size: inherit;
  font-family: inherit;
  color: #333;
  cursor: pointer;
  font-weight: inherit;
  height: 100%;
  line-height: 4px;
  text-transform: none;
  border-radius: 0;
  display: block;
  float: left;
  padding: 0 2px;
  margin: 0;
  text-align: center;
  outline: none;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect > button img {
  display: block;
  max-width: 15px;
  max-height: 15px;
  margin: 0 auto;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect .fontsampler-multiselect-selected {
  opacity: 1;
}
.fontsampler-wrapper .fontsampler-interface .type-tester__slider {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface label.fontsampler-slider {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
.fontsampler-wrapper .fontsampler-interface label.fontsampler-slider .fontsampler-slider-header {
  display: flex;
  justify-content: space-between;
}
.fontsampler-wrapper .fontsampler-interface label.fontsampler-slider .slider-label {
  height: 90%;
  overflow: hidden;
}
.fontsampler-wrapper .fontsampler-interface label.fontsampler-slider .slider-value {
  text-align: right;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-fontpicker .fontsampler-font-label {
  height: 100%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-fontpicker .fontsampler-font-label label {
  display: block;
  height: 100%;
  overflow: hidden;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-fontpicker .font-lister {
  height: 100%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-buy a,
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-specimen a {
  box-shadow: none;
  display: inline-block;
  height: 100%;
  width: auto;
  text-decoration: none !Important;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-buy a img,
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-specimen a img {
  display: block;
  max-height: 100%;
  width: auto;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-buy a .fontsampler-interface-link-text,
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-specimen a .fontsampler-interface-link-text {
  display: block;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler,
.fontsampler-wrapper .fontsampler-interface .type-tester__content {
  clear: both;
  margin-bottom: 20px;
  margin-top: 0.25em;
  transition: all 0.2s ease-out;
  padding: 0.25em 0.15em;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler:focus,
.fontsampler-wrapper .fontsampler-interface .type-tester__content:focus {
  outline: none;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler.fontsampler-is-singleline,
.fontsampler-wrapper .fontsampler-interface .type-tester__content.fontsampler-is-singleline {
  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler.invert,
.fontsampler-wrapper .fontsampler-interface .type-tester__content.invert {
  color: #eee;
  background: #333;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype.feature-lister__features-empty {
  display: none;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype {
  position: relative;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype-toggle img {
  max-height: 20px;
  max-width: 20px;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype-features {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  text-align: right;
  background: #ffffff;
  height: auto;
  text-align: left;
  padding: 5px;
  width: 30em;
  z-index: 10;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype-features.shown {
  display: block;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype-features button.fontsampler-toggle {
  height: 20px;
  width: 20px;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype-features fieldset {
  display: block;
  margin: 0;
  border: 0;
  height: auto;
  padding: 10px;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype-features fieldset label {
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
.fontsampler-wrapper .fontsampler-interface .fontsampler-ui-block-opentype .fontsampler-opentype-features fieldset label input {
  position: absolute;
  left: 0;
  top: 0;
}
/* css_color_text */
.fontsampler-interface .type-tester__content {
  color: #333;
}
.fontsampler-wrapper .fontsampler-interface .type-tester__content.invert {
  color: #fff;
}
/* css_color_background */
.fontsampler-interface .type-tester__content {
  background: #fff;
}
.fontsampler-wrapper .fontsampler-interface .type-tester__content.invert {
  background: #333;
}
/* css_color_label */
/* css_size_label */
/* css_fontfamily_label */
.fontsampler-interface .fontsampler-slider .slider-label,
.fontsampler-interface .fontsampler-slider .slider-value,
.fontsampler-interface .selectric .label,
.fontsampler-interface .selectric-items li,
.fontsampler-interface .fontsampler-ui-block-fontpicker .fontsampler-font-label label,
.fontsampler-interface .fontsampler-opentype-features {
  color: #333;
  font-size: inherit;
  font-family: inherit;
}
/* css_color_highlight */
.fontsampler-interface .selectric-items {
  background: #efefef;
}
/* css_color_highlight_hover */
.fontsampler-interface .selectric-items li:hover,
.fontsampler-interface .selectric-items li.selected {
  background: #dedede;
}
/* css_color_line */
.fontsampler-interface .selectric-open .selectric,
.fontsampler-interface .selectric .label,
.fontsampler-interface .selectric .button,
.fontsampler-wrapper .fontsampler-interface .fontsampler-multiselect > button,
.fontsampler-interface .rangeslider__fill,
.fontsampler-interface .fontsampler-ui-block-fontpicker .fontsampler-font-label label,
.fontsampler-interface .fontsampler-ui-block-buy a,
.fontsampler-interface .fontsampler-ui-block-specimen a {
  border-bottom: 1px solid #333333;
}
.fontsampler-interface .rangeslider {
  background: #333333;
}
.fontsampler-interface .fontsampler-opentype-features {
  border: 1px solid #333333;
}
/* css_color_handle */
.fontsampler-interface .rangeslider__handle {
  background: #333333;
}
/* css_color_icon_active */
/* css_color_icon_inactive */
.fontsampler-interface .fontsampler-ui-block {
  height: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
}
.fontsampler-interface .fontsampler-interface-link-text {
  height: 30px;
}
/* button backgrounds */
.fontsampler-interface .selectric > .label,
.fontsampler-interface .selectric > .button {
  background: #efefef;
}
.fontsampler-interface .fontsampler-ui-block .fontsampler-multiselect > button {
  background: #dfdfdf;
}
.fontsampler-interface .fontsampler-ui-block .fontsampler-multiselect > button.fontsampler-multiselect-selected {
  background: #efefef;
}
/* label line-height */
.fontsampler-interface label.fontsampler-slider .slider-label,
.fontsampler-interface label.fontsampler-slider .slider-value,
.fontsampler-interface .fontsampler-font-label label {
  line-height: normal;
}
.fontsampler-interface .selectric > .label {
  line-height: normal !important;
}
/* button icon colors */
.fontsampler-interface .icon-align-left,
.fontsampler-interface .icon-align-center,
.fontsampler-interface .icon-align-right,
.fontsampler-interface .icon-opentype,
.fontsampler-interface .icon-invert-black,
.fontsampler-interface .icon-invert-white,
.fontsampler-interface .selectric > .button {
  color: #333;
}
.fontsampler-interface .fontsampler-glyph-highlight {
  color: #dedede;
}
