@charset "UTF-8";
/*
  Icon Font: fontsampler-icons
*/
@font-face {
  font-family: "fontsampler-icons";
  src: url("./fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.eot");
  src: url("./fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.eot?#iefix") format("embedded-opentype"), url("./fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.woff") format("woff"), url("./fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.ttf") format("truetype"), url("./fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.svg#fontsampler-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "fontsampler-icons";
    src: url("./fontsampler-icons_40418fc6fecf906d9588eca8b9dcf8c1.svg#fontsampler-icons") format("svg");
  }
}
[data-icon]:before {
  content: attr(data-icon);
}
[data-icon]:before,
.icon-align-center:before,
.icon-align-left:before,
.icon-align-right:before,
.icon-invert-black:before,
.icon-invert-white:before,
.icon-opentype:before,
.icon-settings:before {
  display: inline-block;
  font-family: "fontsampler-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.icon-align-center:before {
  content: "\f100";
}
.icon-align-left:before {
  content: "\f101";
}
.icon-align-right:before {
  content: "\f102";
}
.icon-invert-black:before {
  content: "\f103";
}
.icon-invert-white:before {
  content: "\f104";
}
.icon-opentype:before {
  content: "\f105";
}
.icon-settings:before {
  content: "\f106";
}
.fsjs-skin {
  transition: opacity 0.2s ease-out;
  opacity: 0;
  /* The bare minimum styling applied to all demo Fontsamplers */
  /**
   * A customized and trimmed down version of the rangeSlider.js SCSS
   */
}
.fsjs-skin.fsjs-initialized {
  opacity: 1;
  display: block;
}
.fsjs-skin .fsjs-block-tester {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}
.fsjs-skin.fsjs-loading .fsjs-block-tester,
.fsjs-skin.fsjs-timeout .fsjs-block-tester {
  opacity: 0;
}
.fsjs-skin > .fsjs-wrapper {
  display: flex;
  justify-content: space-between;
}
.fsjs-skin .fsjs-block-tester {
  display: block;
}
.fsjs-skin .fsjs-block,
.fsjs-skin [data-axis-block] {
  box-sizing: border-box;
  padding: 0 5px;
  position: relative;
  margin: 5px;
  width: 100%;
}
.fsjs-skin [data-axis-block] {
  margin-top: 0;
  margin-bottom: 0;
}
.fsjs-skin .fsjs-label {
  line-height: 1.5em;
}
.fsjs-skin .fsjs-block-type-slider .fsjs-label,
.fsjs-skin .fsjs-block-type-slidergroup .fsjs-label {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.fsjs-skin .fsjs-block-type-slider .fsjs-label span:first-child,
.fsjs-skin .fsjs-block-type-slidergroup .fsjs-label span:first-child {
  margin-right: auto;
}
.fsjs-skin .fsjs-block-type-slider .fsjs-label .fsjs-label-unit:before,
.fsjs-skin .fsjs-block-type-slidergroup .fsjs-label .fsjs-label-unit:before {
  content: " ";
}
.fsjs-skin .fsjs-block-opentype .fsjs-label {
  display: block;
  justify-content: flex-start;
}
.fsjs-skin [contenteditable] {
  outline: none;
}
.fsjs-skin .fsjs-button,
.fsjs-skin .fsjs-block-type-buttongroup button {
  background: #FDFDFD;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  color: inherit;
  cursor: pointer;
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: 2em;
  padding: 0.1em 0.5em 0;
}
.fsjs-skin .fsjs-button:hover,
.fsjs-skin .fsjs-block-type-buttongroup button:hover,
.fsjs-skin .fsjs-button:focus,
.fsjs-skin .fsjs-block-type-buttongroup button:focus {
  background: #f0f0f0;
}
.fsjs-skin .fsjs-button.fsjs-button-selected,
.fsjs-skin .fsjs-block-type-buttongroup button.fsjs-button-selected {
  background: #f0f0f0;
}
.fsjs-skin .fsjs-block-type-buttongroup > [data-property] {
  display: flex;
}
.fsjs-skin .fsjs-block-type-buttongroup button {
  border-radius: 0;
}
.fsjs-skin .fsjs-block-type-buttongroup button:first-of-type {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.fsjs-skin .fsjs-block-type-buttongroup button:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.fsjs-skin .fsjs-block-type-buttongroup button + button {
  margin-left: -1px;
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label {
  cursor: pointer;
  padding: 5px 0;
  display: block;
}
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label:hover input[type=checkbox] + span:before,
.fsjs-skin .fsjs-block-type-checkboxes [data-fsjs] label:focus input[type=checkbox] + span:before {
  background: #f0f0f0;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive {
  pointer-events: none;
  color: #DDD;
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox] + span:before,
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox] + span:after {
  border-color: #DDD;
}
.fsjs-skin .fsjs-block-type-checkboxes label.fsjs-checkbox-inactive input[type=checkbox]:checked + span:after {
  background: #DDD;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span {
  position: relative;
  padding-left: 23px;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span:before,
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox] + span:after {
  content: " ";
  display: block;
  border: 1px solid #333;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: -2px;
  padding: 4px;
  height: 10px;
  width: 10px;
}
.fsjs-skin .fsjs-block-type-checkboxes input[type=checkbox]:checked + span:after {
  border-radius: 0;
  background: #333;
  padding: 0;
  top: 2px;
  left: 4px;
}
.fsjs-skin .dk-select,
.fsjs-skin .dk-select *,
.fsjs-skin .dk-select *:before,
.fsjs-skin .dk-select *:after,
.fsjs-skin .dk-select-multi,
.fsjs-skin .dk-select-multi *,
.fsjs-skin .dk-select-multi *:before,
.fsjs-skin .dk-select-multi *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fsjs-skin .dk-select,
.fsjs-skin .dk-select-multi {
  position: relative;
  display: block;
  vertical-align: middle;
  cursor: pointer;
}
.fsjs-skin .dk-selected {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: #FDFDFD;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  padding: 0.1em 0.5em 0;
  padding-right: 1.5em;
  line-height: 2em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.fsjs-skin .dk-selected:before,
.fsjs-skin .dk-selected:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}
.fsjs-skin .dk-selected:before {
  top: 50%;
  border: solid transparent;
  border-width: 0.25em 0.25em 0;
  border-top-color: #333;
  margin: -0.125em 0.5em 0 0;
}
.fsjs-skin .dk-selected:after {
  top: 0;
  height: 100%;
  border-left: 1px solid #b3b3b3;
  margin: 0 1.5em 0 0;
}
.fsjs-skin .dk-selected-disabled {
  color: #BBBBBB;
}
.fsjs-skin .dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
}
.fsjs-skin .dk-select-open-up .dk-select-options {
  border-radius: 2px 2px 0 0;
  margin-bottom: -1px;
  bottom: 100%;
}
.fsjs-skin .dk-select-open-down .dk-select-options {
  border-radius: 0 0 2px 2px;
  margin-top: -1px;
  top: 100%;
}
.fsjs-skin .dk-select-multi .dk-select-options {
  max-height: 10em;
}
.fsjs-skin .dk-select-options {
  background-color: white;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  list-style: none;
  margin: 0;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: auto;
  z-index: 100;
}
.fsjs-skin .dk-select-options-highlight .dk-option-selected {
  background-color: transparent;
  color: inherit;
}
.fsjs-skin .dk-option {
  padding: 0.1em 0.5em 0;
  line-height: 2em;
}
.fsjs-skin .dk-select-options .dk-option-highlight {
  background-color: #f0f0f0;
}
.fsjs-skin .dk-select-options .dk-option-disabled {
  color: #BBBBBB;
  background-color: transparent;
}
.fsjs-skin .dk-select-options .dk-option-hidden {
  display: none;
}
.fsjs-skin .dk-select-open-up .dk-select-options,
.fsjs-skin .dk-select-open-down .dk-select-options,
.fsjs-skin .dk-select-multi:focus .dk-select-options {
  display: block;
}
.fsjs-skin .dk-selected:hover,
.fsjs-skin .dk-selected:focus {
  outline: none;
  background: #f0f0f0;
}
.fsjs-skin .dk-select-disabled {
  opacity: 0.6;
  color: #BBBBBB;
  cursor: not-allowed;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover,
.fsjs-skin .dk-select-disabled .dk-selected:focus {
  border-color: inherit;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover:before,
.fsjs-skin .dk-select-disabled .dk-selected:focus:before {
  border-top-color: inherit;
}
.fsjs-skin .dk-select-disabled .dk-selected:hover:after,
.fsjs-skin .dk-select-disabled .dk-selected:focus:after {
  border-left-color: inherit;
}
.fsjs-skin select[data-dkcacheid] {
  display: none;
}
.fsjs-skin .rangeSlider {
  margin: 0.5em auto;
}
.fsjs-skin .rangeSlider,
.fsjs-skin .rangeSlider__fill {
  display: block;
  border-radius: 2px;
}
.fsjs-skin .rangeSlider {
  position: relative;
  background: #b3b3b3;
}
.fsjs-skin .rangeSlider__horizontal {
  height: 1px;
  width: 100%;
}
.fsjs-skin .rangeSlider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.fsjs-skin .rangeSlider__fill {
  background: #b3b3b3;
  position: absolute;
}
.fsjs-skin .rangeSlider__fill__horizontal {
  height: 100%;
  top: 0;
  left: 0;
}
.fsjs-skin .rangeSlider__handle {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  background: #333;
  border-radius: 50%;
  left: 0;
}
.fsjs-skin .rangeSlider__handle__horizontal {
  top: -4.5px;
}
.fsjs-skin .rangeSlider__handle:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: transparent;
  border-radius: 50%;
}
.fsjs-skin .fsjs-disabled .fsjs-label {
  color: #DDD;
}
.fsjs-skin .fsjs-disabled .rangeSlider {
  pointer-events: none;
  background-color: #DDD;
}
.fsjs-skin .fsjs-disabled .rangeSlider .rangeSlider__handle,
.fsjs-skin .fsjs-disabled .rangeSlider .rangeSlider__fill {
  background-color: #DDD;
}
.fsjs-skin .fsjs-disabled .dk-select .dk-selected {
  color: #DDD;
}
.fsjs-skin [data-fsjs-block=variation] {
  display: none;
}
@supports (font-variation-settings: normal) {
  .fsjs-skin [data-fsjs-block=variation] {
    display: block;
  }
}
/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}
.selectric-responsive {
  width: 100%;
}
.selectric {
  border: 0 solid #fff;
  background: #fff;
  position: relative;
  border-radius: 0;
}
.selectric .label {
  border-radius: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 30px 0 0;
  font-size: inherit;
  line-height: inherit;
  color: #333;
  height: 30px;
  border-bottom: 1px solid #333;
  padding-left: 0.5em;
  box-sizing: border-box;
}
.selectric .button {
  background: #fff;
  border-radius: 0;
  border-bottom: 1px solid #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  color: #333;
  text-align: center;
  box-sizing: border-box;
  *font: 1px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
  /*
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: @buttonColor;
  border-bottom: none;
  */
}
.selectric-hover .selectric {
  border-color: #333;
}
.selectric-hover .selectric .button {
  color: #333;
}
.selectric-hover .selectric .button:after {
  border-top-color: #333;
}
.selectric-open {
  z-index: 9999;
}
.selectric-open .selectric {
  border-color: #333;
  background: #fff;
}
.selectric-open .selectric-items {
  display: block;
}
.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none;
}
.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  background: none !important;
}
.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}
/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1em;
  min-height: 1em;
}
.selectric-items li {
  display: block;
  padding: 8px;
  color: #666;
  cursor: pointer;
}
.selectric-items li.selected {
  background: #EFEFEF;
  color: #444;
}
.selectric-items li:hover {
  background: #F0F0F0;
  color: #444;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}
.selectric-wrapper {
  height: 100%;
}
.selectric-wrapper .selectric {
  height: 100%;
}
.selectric-wrapper .selectric .label,
.selectric-wrapper .selectric .button {
  height: 100%;
}
.rangeslider,
.rangeslider__fill {
  display: block;
}
.rangeslider {
  background: #efefef;
  position: relative;
}
.rangeslider--horizontal {
  height: 1px;
  width: 100%;
  clear: both;
}
.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  box-sizing: border-box;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  background: #333;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-size: 100%;
}
.rangeslider--horizontal .rangeslider__handle {
  top: -4px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -4px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
.fontsampler-warning {
  background: #C0402F;
  color: white;
  padding: 1em;
}
.fontsampler-wrapper {
  opacity: 0;
  transition: opacity 0s;
}
.fontsampler-wrapper.fsjs-initialized {
  opacity: 1;
}
.fontsampler-wrapper.fsjs-loading .tester {
  opacity: 0;
}
.fontsampler-wrapper.fontsampler-interface {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fontsampler-wrapper.fontsampler-interface .fsjs-block {
  margin-left: 0;
  margin-right: 0;
}
.fontsampler-wrapper.fontsampler-interface:after {
  clear: both;
  content: " ";
  display: block;
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-interface-row-break {
  clear: both;
  height: 1px;
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface.columns-1 .fsjs-block.column {
  width: 100% !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-1 .fsjs-block.inline {
  width: auto !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-1 .fsjs-block.full {
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface.columns-2 .fsjs-block.column {
  width: 50% !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-2 .fsjs-block.inline {
  width: auto !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-2 .fsjs-block.full {
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface.columns-3 .fsjs-block.column {
  width: 33.33333333% !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-3 .fsjs-block.inline {
  width: auto !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-3 .fsjs-block.full {
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface.columns-4 .fsjs-block.column {
  width: 25% !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-4 .fsjs-block.inline {
  width: auto !important;
}
.fontsampler-wrapper.fontsampler-interface.columns-4 .fsjs-block.full {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fontsampler-wrapper.fontsampler-interface .fsjs-block.column {
    width: 100% !important;
  }
  .fontsampler-wrapper.fontsampler-interface .fsjs-block.inline {
    width: auto !important !important;
  }
  .fontsampler-wrapper.fontsampler-interface .fsjs-block.full {
    width: 100% !important;
  }
}
.fontsampler-wrapper.fontsampler-interface .fsjs-block {
  box-sizing: border-box;
  float: left;
  line-height: 1.2;
}
.rtl .fontsampler-wrapper.fontsampler-interface .fsjs-block {
  float: right;
}
.fontsampler-wrapper.fontsampler-interface .fsjs-block.fsjs-block-tester {
  height: auto;
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect {
  box-sizing: border-box;
  display: flex;
}
.rtl .fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect {
  float: right;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect.one-item > button {
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect.two-items > button {
  width: 50%;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect.three-items > button {
  width: 33%;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect > button {
  font-weight: inherit;
  text-transform: none;
  outline: none;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect .fontsampler-multiselect-selected,
.fontsampler-wrapper.fontsampler-interface .fontsampler-multiselect .fsjs-button-selected {
  opacity: 1;
}
.fontsampler-wrapper.fontsampler-interface .type-tester__slider {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface label.fontsampler-slider {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
.fontsampler-wrapper.fontsampler-interface label.fontsampler-slider .fontsampler-slider-header {
  display: flex;
  justify-content: space-between;
}
.fontsampler-wrapper.fontsampler-interface .fsjs-block-fontpicker .fontsampler-font-label {
  height: 100%;
}
.fontsampler-wrapper.fontsampler-interface .tester {
  clear: both;
  margin-bottom: 20px;
  margin-top: 0.25em;
  padding: 0.25em 0.15em;
  transition: all 0.2s ease-out;
}
.fontsampler-wrapper.fontsampler-interface .tester:focus {
  outline: none;
}
.fontsampler-wrapper.fontsampler-interface .tester.fontsampler-is-singleline {
  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
}
.fontsampler-wrapper.fontsampler-interface .tester.invert {
  color: #eee;
  background: #333;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype {
  position: relative;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype .fontsampler-opentype-toggle img {
  max-height: 20px;
  max-width: 20px;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype .fontsampler-opentype-features {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  text-align: right;
  background: #ffffff;
  height: auto;
  text-align: left;
  padding: 5px;
  width: 100%;
  z-index: 10;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype .fontsampler-opentype-features.shown {
  display: block;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype .fontsampler-opentype-features button.fontsampler-toggle {
  height: 20px;
  width: 20px;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype .fontsampler-opentype-features fieldset {
  display: block;
  margin: 0;
  border: 0;
  height: auto;
  padding: 10px;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype .fontsampler-opentype-features fieldset label {
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
.fontsampler-wrapper.fontsampler-interface .fontsampler-opentype .fontsampler-opentype-features fieldset label input {
  position: absolute;
  left: 0;
  top: 0;
}
/**
 * The base less file that gets augmented/overwritten with variables from
 * the plaugin settings
 */
/* css_color_text */
.fontsampler-interface .fsjs-block-tester {
  color: #333;
}
.fontsampler-wrapper .fontsampler-interface .fsjs-block-tester.invert {
  color: #fff;
}
/* css_color_background */
.fontsampler-interface .fsjs-block-tester {
  background: #fff;
}
.fontsampler-wrapper .fontsampler-interface .fsjs-block-tester.invert {
  background: #333;
}
/* css_color_label */
/* css_size_label */
/* css_fontfamily_label */
.fontsampler-interface .fsjs-block-type-slider .slider-label,
.fontsampler-interface .fsjs-block-type-slider .slider-value,
.fontsampler-interface .selectric .label,
.fontsampler-interface .selectric-items li,
.fontsampler-interface .fsjs-block-fontpicker .fontsampler-font-label label,
.fontsampler-interface .fontsampler-opentype-features {
  color: #333;
  font-size: inherit;
  font-family: inherit;
}
/* css_color_highlight */
.fontsampler-interface .selectric-items {
  background: #efefef;
}
/* css_color_highlight_hover */
.fontsampler-interface .selectric-items li:hover,
.fontsampler-interface .selectric-items li.selected {
  background: #dedede;
}
/* css_color_line */
.fontsampler-interface .rangeslider {
  background: #333333;
}
.fontsampler-interface .fontsampler-opentype-features {
  border: 1px solid #333333;
}
/* css_color_handle */
.fontsampler-interface .rangeslider__handle {
  background: #333333;
}
/* css_color_icon_active */
/* css_color_icon_inactive */
.fontsampler-interface .fsjs-block {
  height: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
}
.fontsampler-interface .fontsampler-interface-link-text {
  height: 30px;
}
/* button backgrounds */
.fontsampler-interface .selectric > .label,
.fontsampler-interface .selectric > .button {
  background: #efefef;
}
.fontsampler-interface .fsjs-block .fontsampler-multiselect > button {
  background: #dfdfdf;
}
.fontsampler-interface .fsjs-block .fontsampler-multiselect > button.fontsampler-multiselect-selected,
.fontsampler-interface .fsjs-block .fontsampler-multiselect > button.fsjs-button-selected {
  background: #efefef;
}
/* label line-height */
.fontsampler-interface label.fsjs-block-type-slider .slider-label,
.fontsampler-interface label.fsjs-block-type-slider .slider-value,
.fontsampler-interface .fontsampler-font-label label {
  line-height: normal;
}
.fontsampler-interface .selectric > .label {
  line-height: normal !important;
}
/* button icon colors */
.fontsampler-interface .icon-align-left,
.fontsampler-interface .icon-align-center,
.fontsampler-interface .icon-align-right,
.fontsampler-interface .icon-opentype,
.fontsampler-interface .icon-invert-black,
.fontsampler-interface .icon-invert-white,
.fontsampler-interface .selectric > .button {
  color: #333;
}
.fontsampler-interface .fontsampler-glyph-highlight {
  color: #dedede;
}
