/*
 * Scope all css to be contained only within the fontsampler wrapper
 */
#fontsampler-admin label {
  display: block;
}
#fontsampler-admin .notice {
  border: 1px solid;
  padding: 1em;
}
#fontsampler-admin .info,
#fontsampler-admin .note,
#fontsampler-admin .error {
  display: block;
}
#fontsampler-admin .info {
  color: blue;
}
#fontsampler-admin .note {
  color: orange;
}
#fontsampler-admin .error {
  color: red;
}
#fontsampler-admin .fontsampler-options-checkbox label > span {
  display: inline-block;
}
