/*
 * Scope all css to be contained only within the fontsampler wrapper
 */
#fontsampler-admin {
    margin: 20px 20px 20px 0;
    padding: 2em;
    background: white;

    label {
        display: block;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table, thead, tbody, tr, th, td {
        text-align: left;
        vertical-align: top;
    }

    th, td {
        padding: 0.25em 0.5em;
    }

    th {
        border-bottom: 2px solid #aaa;
        font-weight: normal;
        font-size: larger;
    }

    // block at the top for displaying messages
    .notice {
        border: 1px solid;
        padding: 1em;
    }

    code {
        border: 1px solid #ddd;
    }

    code, .filename {
        font-family: monospace;
        background: white;
        padding: 0.2em 0.5em;
        font-size: smaller;
    }

    td .fileformat {
        display: inline-block;
        width: 4em;
    }

    p.submit {
        margin: 0;
        padding: 0;
    }

 
    // different default type of messages in a <strong>
    .info, .note, .error {
        display: block;
    }
    .info {
        color: blue;
    }
    .note {
        color: orange;
    }
    .error {
        color: red;
    }

    #fontsampler-menu {
        border-bottom: 1px solid;
        margin: 0;
        padding: 0 1em;

        li {
            padding: 0;
            margin: 0;
            font-size: larger;
            display: inline-block;
            border: 1px solid;
            border-bottom: 0;

            a {
                display: inline-block;
                padding: 0.5em 1em;
                text-decoration: none;
            }

            &.current {
                background: grey;
                a {
                    color: white;
                }
            }
        }
    }

    // wrapper with label > span + input[type=checkbox]
    .fontsampler-options-checkbox {
        label > span {
            display: inline-block;
        }
    }
}