/*
 * Scope all css to be contained only within the fontsampler wrapper
 */
#fontsampler-admin {
  margin: 20px 20px 20px 0;
  padding: 2em;
  background: white;
}
#fontsampler-admin label {
  display: block;
}
#fontsampler-admin table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em auto 2em;
}
#fontsampler-admin table,
#fontsampler-admin thead,
#fontsampler-admin tbody,
#fontsampler-admin tr,
#fontsampler-admin th,
#fontsampler-admin td {
  text-align: left;
  vertical-align: top;
}
#fontsampler-admin th,
#fontsampler-admin td {
  padding: 0.25em 0.5em;
}
#fontsampler-admin td {
  border-bottom: 1px solid #eee;
}
#fontsampler-admin th {
  border-bottom: 2px solid #aaa;
  font-weight: normal;
  font-size: larger;
}
#fontsampler-admin .notice {
  border: 1px solid;
  padding: 1em;
}
#fontsampler-admin code {
  border: 1px solid #ddd;
}
#fontsampler-admin code,
#fontsampler-admin .filename {
  font-family: monospace;
  background: white;
  padding: 0.2em 0.5em;
  font-size: smaller;
}
#fontsampler-admin td .fileformat {
  display: inline-block;
  width: 4em;
}
#fontsampler-admin p.submit {
  margin: 0;
  padding: 0;
}
#fontsampler-admin .info,
#fontsampler-admin .note,
#fontsampler-admin .error {
  display: block;
}
#fontsampler-admin .info {
  color: blue;
}
#fontsampler-admin .note {
  color: orange;
}
#fontsampler-admin .error {
  color: red;
}
#fontsampler-admin #fontsampler-menu {
  border-bottom: 1px solid;
  margin: 0;
  padding: 0 1em;
}
#fontsampler-admin #fontsampler-menu li {
  padding: 0;
  margin: 0;
  font-size: larger;
  display: inline-block;
  border: 1px solid;
  border-bottom: 0;
}
#fontsampler-admin #fontsampler-menu li a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
}
#fontsampler-admin #fontsampler-menu li.current {
  background: grey;
}
#fontsampler-admin #fontsampler-menu li.current a {
  color: white;
}
#fontsampler-admin .fontsampler-options-checkbox label > span {
  display: inline-block;
}
