/*
 * Scope all css to be contained only within the fontsampler wrapper
 */
#fontsampler-admin {

    label {
        display: block;
    }

    .notice {
        border: 1px solid;
        padding: 1em;
    }

 
    .info, .note, .error {
        display: block;
    }
    .info {
        color: blue;
    }
    .note {
        color: orange;
    }
    .error {
        color: red;
    }

    // wrapper with label > span + input[type=checkbox]
    .fontsampler-options-checkbox {
        label > span {
            display: inline-block;
        }
    }
}