/*
 * Scope all css to be contained only within the fontsampler wrapper
 */
#fontsampler-admin {
  padding-top: 1em;
}
#fontsampler-admin header,
#fontsampler-admin main {
  background: white;
  margin: 0 1.5em 0 0;
  padding: 1em 2em;
}
#fontsampler-admin label {
  display: block;
  font-family: monospace;
  color: #999;
  margin: 1em 0;
}
#fontsampler-admin label:hover input,
#fontsampler-admin label:focus input,
#fontsampler-admin label:hover select,
#fontsampler-admin label:focus select {
  background: #eee;
  border: 1px solid #333;
}
#fontsampler-admin table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em auto 2em;
}
#fontsampler-admin table,
#fontsampler-admin thead,
#fontsampler-admin tbody,
#fontsampler-admin tr,
#fontsampler-admin th,
#fontsampler-admin td {
  text-align: left;
  vertical-align: middle;
}
#fontsampler-admin th,
#fontsampler-admin td {
  padding: 0.25em 0.5em;
}
#fontsampler-admin td {
  border-bottom: 1px solid #fafafa;
}
#fontsampler-admin th {
  border-bottom: 1px solid #999;
  font-weight: normal;
  font-size: larger;
  vertical-align: top;
}
#fontsampler-admin p {
  font-size: inherit;
  max-width: 40em;
}
#fontsampler-admin h1,
#fontsampler-admin h2,
#fontsampler-admin h3,
#fontsampler-admin h4,
#fontsampler-admin h5,
#fontsampler-admin h6 {
  clear: both;
  display: block;
}
#fontsampler-admin small {
  font-size: x-small;
  line-height: 1em;
}
#fontsampler-admin .notice {
  border: 1px solid;
  padding: 1em;
}
#fontsampler-admin code {
  border: 1px solid #ddd;
}
#fontsampler-admin code,
#fontsampler-admin .filename {
  font-family: monospace;
  background: white;
  padding: 0.2em 0.5em;
  font-size: smaller;
}
#fontsampler-admin td .fileformat {
  display: inline-block;
  width: 4em;
}
#fontsampler-admin p.submit {
  margin: 0;
  padding: 0;
}
#fontsampler-admin footer {
  margin: 1.5em 1.5em 0 0;
  padding: 1em 2em 0.5em;
  background: white;
}
#fontsampler-admin footer ul {
  overflow: auto;
}
#fontsampler-admin footer li {
  display: inline-block;
  float: left;
  margin-right: 1em;
}
#fontsampler-admin .info,
#fontsampler-admin .note,
#fontsampler-admin .error {
  display: block;
}
#fontsampler-admin .info {
  color: blue;
}
#fontsampler-admin .note {
  color: orange;
}
#fontsampler-admin .error {
  color: red;
}
#fontsampler-admin ul.real-list {
  list-style: disc;
  margin: 0 0 0 2em;
}
#fontsampler-admin #fontsampler-menu ul {
  border-bottom: 1px solid #999;
  margin: 0;
  padding: 0 1em;
}
#fontsampler-admin #fontsampler-menu ul li {
  padding: 0;
  margin: 0;
  font-size: larger;
  display: inline-block;
  border-bottom: 0;
}
#fontsampler-admin #fontsampler-menu ul li a {
  border: 1px solid #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  outline: none;
}
#fontsampler-admin #fontsampler-menu ul li a:hover,
#fontsampler-admin #fontsampler-menu ul li a:focus {
  background: #008ec2;
  border: 1px solid #006799;
  border-bottom: 0;
  color: #fff;
}
#fontsampler-admin #fontsampler-menu ul li.current {
  background: #fafafa;
}
#fontsampler-admin #fontsampler-menu ul li.current a {
  border: 1px solid #999;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
}
#fontsampler-admin .fontsampler-options-checkbox label > span {
  display: inline;
  margin-left: -35px;
  padding-left: 0px;
  left: 40px;
  position: relative;
}
#fontsampler-admin .fontsampler-options-checkbox small {
  display: block;
  margin-left: 40px;
}
#fontsampler-admin .fontsampler-admin-column-half {
  float: left;
  margin-right: 5%;
  width: 45%;
}
#fontsampler-admin .form-settings label {
  clear: both;
}
#fontsampler-admin .form-settings label span {
  float: left;
  display: inline-block;
  width: 20em;
}
#fontsampler-admin .form-settings label div.slider {
  display: inline-block;
  width: 20em;
}
#fontsampler-admin .form-settings label code {
  margin: 0 1em;
}
#fontsampler-admin .form-settings label input[type="range"] {
  width: 20em;
}
#fontsampler-admin .form-settings label small {
  display: block;
}
