<div class="fontsampler-options-row">
    <strong>
        {% block label %}{% endblock %}
    </strong>
    <div>
        {% block custom %}{% endblock %}
    </div>
    <div>
        {% block default %}{% endblock %}
    </div>
</div>