{% extends('layout.twig') %}

{% block content %}
<h1>Thanks for updating Fontsampler!</h1>
    <div class="text-box">
        <div class="notice info">
            <strong>NO ACTION REQUIRED:</strong> This update does not require any action from you. Only improvements, hurray!
        </div>
    </div>
    <h2>Here is what changed with this latest release (0.3.7):</h2>
    <div class="text-box">
        <ul class="real-list">
            <li>Implemented shortcode attribute to overwrite or dynamically set the default text</li>
            <li>Implemented shortcode attribute to overwrite or dynamically set the fonts and font files</li>
            <li>Implemented events called on the wrapper after initialisation and font change</li>
            <li>Now serving all frontend javascript assets as one minified file (previously 20+ dynamic file calls)</li>
            <li>Now serving all backend javascript assets as one minified file (previously 30+ dynamic file calls)</li>
            <li>Fixed a compability issue arising from other plugins using the same javascript dependency manager</li>
            <li>Fixed an issue where OpenType features that are enabled by default did not have their UI elements reflect that correctly</li>
            <li>Fixed an issue where switching fonts would revert selections made in the OpenType modal</li>
        </ul>
    </div>
    <h2>Feedback, questions, bugs?</h2>
    <p>In case you have feedback on this plugin or update, found any bugs
        or encounter any questions, feel free to ask
        <a href="https://wordpress.org/support/plugin/fontsampler">on the Wordpress support forum</a>
        or on the <a href="https://github.com/kontur/fontsampler-wordpress-plugin/issues">Github repository page</a>.
    </p>
    <p>Before you get in touch, please check the <a href="https://wordpress.org/plugins/fontsampler/#faq">FAQ</a>
        and <a href="http://fontsampler.johannesneumeier.com/">official website</a> -
        maybe there already is an answer to your question.
    </p>
    <h2>Get featured</h2>
    <p>Using Fontsampler on your Wordpress site? Please be <a href="mailto:hello@johannesneumeier.com">in touch</a>
        if you want your website featured on an upcoming "in-use" section on the
        <a href="http://fontsampler.johannesneumeier.com">official plugin website</a>. Your site can be featured with
        screenshots, links to your fonts and foundry site.
    </p>
    <br>
    <form method="post" action="?page=fontsampler">
        <input type="hidden" name="action" value="hide_changelog">
        {{ wp_nonce_field( 'fontsampler-action-hide_changelog' )|raw }}
        <input type="submit" class="button button-primary" value="Ok, got it!"><br><br>
        <small>(And hide this tab until the next update)</small>
    </form>
    <br>
    <aside>
        If for some reason you need a previous version of Fontsampler, you can
        download those as zip files from
        <a href="https://wordpress.org/plugins/fontsampler/advanced/">the Wordpress plugin registry</a>
        and manually install them on your server. However, it is highly recommended to keep
        the plugin up-to-date.
    </aside>


{% endblock %}