<header id="fontsampler-menu">
	<ul>
		<li {{ is_current('sets') }}>
			<a href="?page=fontsampler">Font samplers</a>
		</li>
		<li {{ is_current('fonts') }}>
			<a href="?page=fontsampler&amp;subpage=fonts">Fonts &amp; files</a>
		</li>
		<li {{ is_current('settings') }}>
			<a href="?page=fontsampler&amp;subpage=settings">Settings</a>
		</li>
		<li {{ is_current('about') }}>
			<a href="?page=fontsampler&amp;subpage=about">About</a>
		</li>
	</ul>
</header>
