{% if has_messages() %}
    {{ get_messages()|raw }}
{% endif %}

<header id="fontsampler-menu">
    {% include 'header.twig'  %}
</header>

<main>
{% block content %}
    Foobar
{% endblock %}
</main>

<footer>
    {% include "footer.twig" %}
</footer>