<h2>Options</h2>

<label class="fontsampler-radio">
	<input type="radio" name="use_default_options" value="1" ><span>Use default settings</span>
</label>
<label class="fontsampler-radio">
	<input type="radio" name="use_default_options" value="0" checked="checked"><span>Use custom settings</span>
</label>

<div class="fontsampler-options">
	<h3>Basic</h3>
	<fieldset>
		<p>Fontsampler script direction is:</p>
		<label>
			<input type="radio" name="is_ltr" value="1"
				{% if set.is_ltr is empty or set.is_ltr == 1 %} checked="checked" {% endif %}>
			<span>Left to Right</span>
		</label>
		<label>
			<input type="radio" name="is_ltr" value="0"
					{% if set.is_ltr is empty or set.is_ltr == 0 %} checked="checked" {% endif %}>
			<span>Right to Left</span>
		</label>

		<label>
			<span>The initial text displayed in the font sampler, for example the font name or pangram. You can use multi-line text here as well.</span><br>
			<textarea name="initial" rows="5"
			          dir="{% if set.is_ltr is not defined or set.is_ltr == 1 %} ltr {% else %} rtl {% endif %}">
				{% if set.initial is not empty %} {{ set.initial }} {% endif %}
			</textarea>
		</label>
	</fieldset>

	<h3>Features</h3>
	<fieldset>
		{% include 'fontsampler-options.twig' %}
	</fieldset>

	<h3>Styling</h3>
	<fieldset>
		{% include 'fontsampler-styles.twig' %}
	</fieldset>
</div>