{% extends 'layout.twig' %}

{% block content %}
{% if set.id is empty %}
	<h1>Nothing selected to delete.</h1>
	<p><a href="?page=fontsampler">Back without deleting.</a></p>
{% else %}
	{#TODO check and list if this fontsampler is in use somewhere#}
	<h1>Do you really want to delete the Fontsampler {{ set.id }}?</h1>
	<form method="post" action="?page=fontsampler">
		<input type="hidden" name="action" value="delete_set">
		{{ wp_nonce_field('fontsampler-action-delete_set')|raw }}
		<input type="hidden" name="id" value="{{ set.id }}">

		{{ submit_button('Yes, delete Fontsampler', 'delete') }}
		<small>Any fontsets used in this Fontsampler will remain available.</small>
	</form>
	<p><a href="?page=fontsampler">Back without deleting.</a></p>
{% endif %}
{% endblock %}
