

@fs_color_white: #FFFFFF;
@fs_color_medium: #CBCBCB;
@fs_color_light: #F2F2F2;

@fs_color_link: #008EC2;
@fs_color_spot: #C0402F;

@fs_color_text_medium: #4A4A4A;
@fs_color_text: #222222;
@fs_color_disabled: #cccccc;

@fs_color_add: #7ED321;
@fs_color_add_light: #B8E986;

@fs_color_ok: #008EC2;
@fs_color_ok_light: #64CAF0;

@fs_color_delete: #C0402F;
@fs_color_delete_light: #E5604E;

@fs_color_warning: #DDAA33;
