body.rtl {
    #fontsampler-admin {
        table, thead, tbody, tr, th, td {
            text-align: right;
        }

        code.fontsampler-clipboard,
        .fontsampler-copy-clipboard {
            float: right;
        }

        code.fontsampler-clipboard {
            border-radius: 0 5px 5px 0;
        }

        .fontsampler-copy-clipboard {
            border-radius: 5px 0 0 5px;
            border-left-width: 3px !important;
            border-right-width: 0;
        }

        .fontsampler-settings-reset {
            float: left;
        }

        footer li {
            float: right;
        }

        .fontsampler-options.default-text-alignment > div label {
            margin-right: 0;
            margin-left: 2em;
        }
    }    
}