@import "admin-variables.less";

#fontsampler-admin {

    #fontsampler-fontset-list {

        .fontsampler-font-set {
            background: @fs_color_light;
            padding: 0.5em;

            .fontsampler-fonts-table {
                background: @fs_color_white;
                margin-top: 1em;
            }
        }

        li select {
            width: 22.25em;
        }
    }

    .fontsampler-fontset-inline {
        h2 {
            display: none;
        }
        thead {
            display: none;
        }
        .fontsampler-fontset-inline-wrapper {
            display: inline-block;
            width: 24em;
        }
    }
}