@import "admin-variables.less";

@import "../../css/fontsampler-custom-rangeslider.less";
@import "admin-settings.less";
@import "admin-sampler.less";
@import "admin-fontsets.less";
@import "admin-header.less";
@import "admin-buttons.less";



/*
 * Scope all css to be contained only within the fontsampler wrapper
 */
#fontsampler-admin {

    padding-top: 1em;

    main {
        background: white;
        margin: 0 1.5em 0 0;
        padding: 1em 2em;
    }

    fieldset label, label.fontsampler-admin-label-block {
        display: block;
        color: #666;
        margin: 1em 0;

        &:hover, &:focus {
            input, select {
            }
        }
    }

    .submit {
        padding: 0;
        margin: 3em 0;
        input {
            border: none;
        }
    }
    table .submit {
        margin: 1em 0;
    }

    input {
        border: 1px solid #aaa;
    }
    input[type=file] {
        border: 0;
        &:hover, &:focus {
            border: 0;
        }
    }

    fieldset {
        border: 1px solid #ccc;
        padding: 1em 2em;

        legend {
            font-weight: bold;
            padding: 0 0.5em;
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin: 1em auto 2em;
    }

    table, thead, tbody, tr, th, td {
        text-align: left;
        vertical-align: middle;
    }

    th, td {
        padding: 0.25em 0.5em;
    }

    td {
        border-bottom: 1px solid #fafafa;
    }

    th {
        border-bottom: 1px solid #999;
        font-weight: normal;
        font-size: larger;
        vertical-align: top;
    }

    p {
        font-size: inherit;
        max-width: 40em;
    }

    h1, h2, h3, h4, h5, h6 {
        clear: both;
        display: block;
    }
    h2, h3, h4, h5, h6 {
        margin-top: 2em;
    }

    small {
        color: #AAA;
        font-size: small;
        font-family: sans-serif;
        line-height: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    // block at the top for displaying messages
    .notice {
        border: 1px solid #eee;
        padding: 1em;
        margin: 0 0 2em;
    }

    code {
        border: 1px solid #ddd;
        font-family: monospace;
        background: #eee;
        padding: 0.4em 1em 0.3em;
        font-size: smaller;
        border-radius: 3px;
        text-align: center;
    }
    .filename {
        font-family: monospace;
        font-size: smaller;
    }

    td .fileformat {
        display: inline-block;
        width: 4em;
    }

    footer {
        margin: 1.5em 1.5em 0 0;
        padding: 1em 2em 0.5em;
        background: white;
        ul {
            overflow: auto;
        }
        li {
            box-sizing: border-box;
            display: inline-block;
            float: left;
            padding-right: 1em;
            width: 20%;
            max-width: 120px;

            > a {
                display: block;
                height: 0;
                padding-top: 150/240*100%;
                position: relative;
                text-align: center;
                width: 100%;

                img {
                    display: block;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    position: absolute;
                }
            }
            > img {
                display: block;
                height: 150/240*100/5%;
                width: 100%;
            }
        }
    }

    label {
        span.input-description {
        }

        span.input-description + input[type="text"] {
        }
    }

    // different default type of messages in a <strong>
    .info, .note, .error {
        display: block;
    }
    .info {
        color: blue;
    }
    .note {
        color: orange;
    }
    .error {
        color: red;
    }

    ul.real-list {
        list-style: disc;
        margin: 0 0 0 2em;
    }

    // any sort of hidden placeholder
    .fontsampler-admin-placeholders {
        display: none;
    }

    // wrapper with label > span + input[type=checkbox]
    .fontsampler-options-checkbox {
        label > span {
            display: inline;
            margin-left: -35px;
            padding-left: 0px;
            left: 40px;
            position: relative;
        }
        small {
            display: block;
            margin-left: 40px;
        }
    }

    #fontsampler-options-checkboxes {
        display: block;

        &.use-defaults {
            display: none;
        }
    }

    .fontsampler-admin-column-wrapper {
        clear: both;
        overflow: auto;
    }

    .fontsampler-admin-column-half {
        float: left;
        margin-right: 5%;
        width: 45%;
    }

    #fontsampler-admin-ui-wrapper {
        position: relative;

        &:hover {
            .fontsampler-ui-block,
            .fontsampler-interface-row-break {
                outline: 1px dotted orange;
            }
        }

        #fontsampler-ui-blocks-list {
            display: none;
        }

        // fontsampler UI sortable
        #fontsampler-ui-layout-preview {
            border: 1px dotted grey;
            padding: 10px;

            // sortable preview fontsamplers
            .fontsampler-interface {
                position: relative;

                // style the otherwise invisible row break so it can be drag and dropped as well
                .fontsampler-interface-row-break {
                    cursor: move;
                    height: 1.5em;
                    background: #ccc;
                    font-style: italic;
                    text-align: center;
                    margin-bottom: 10px;
                    position: relative;

                    &:before {
                        content: "ROW BREAK";
                    }

                    &:hover {
                        outline: 1px solid orange;
                    }

                    .fontsampler-delete-row-break {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        line-height: 1;
                        border: none;
                        background: transparent;
                        cursor: pointer;
                        font-weight: bold;
                    }
                }

                .fontsampler-ui-block {
                    position: relative;

                    // on hovering a block show the overlay
                    &:hover,
                    &.fontsampler-ui-block-menu-open {
                        .fontsampler-ui-block-overlay {
                            display: block;
                            outline: 1px solid orange;
                        }
                    }

                    &.fontsampler-ui-block-menu-open {
                        .fontsampler-ui-block-overlay {
                            .fontsampler-ui-block-options {
                                display: block;
                            }
                        }
                    }

                    // the admin overlay of each ui block with buttons for expanding settings and layout options
                    .fontsampler-ui-block-overlay {
                        background: rgba(255, 155, 0, 0.9);
                        box-sizing: border-box;
                        cursor: move !important;
                        display: none;
                        height: 100%;
                        left: 0;
                        outline: 1px dotted orange;
                        opacity: 1;
                        padding: 10px;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: 19;

                        // the button that toggles class settings and adding linebreak
                        .fontsampler-ui-block-settings {
                            box-sizing: border-box;
                            border: none;
                            background: transparent;
                            cursor: pointer;
                            display: block;
                            height: 100%;
                            outline: none;
                            padding: 5px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 30px;

                            img {
                                display: block;
                                height: 20px;
                                width: 20px;
                            }
                        }

                        // wrapper that holds line break button and column class radios
                        .fontsampler-ui-block-options {
                            border: 2px solid orange;
                            display: none;
                            padding: 10px;
                            position: absolute;
                            right: -1px;
                            top: 100%;
                            background: rgba(255, 200, 50, 0.9);
                            min-width: 15em;
                            width: auto;

                            .fontsampler-ui-block-add-break {
                                margin-bottom: 1em;
                            }
                            .fontsampler-ui-block-layout-classes {
                                label {
                                    display: block;
                                    margin: 0.5em 0;
                                }
                            }
                        }

                    }
                }
            }
        }
        #fontsampler-ui-layout-preview-options {
            clear: both;
            display: block;
        }

        .type-tester__slider {
            margin-top: 4px;
        }
    }

    ul.fontsampler-ui-preview-placeholder {
        li {
            display: none;
        }
    }

    .selectric .button {
        border: none;
    }

    #fontsampler-fontset-from {
        max-width: 50em;
    }

    #fontsampler-edit-sample textarea[name="initial"] {
        width: 100%;
    }

    .fontsampler-initial-font-selection {
        display: inline-block;
    }

    .fontsampler-initial-font {
        &.selected {
            span.initial-font-selected {
                display: inline-block;
            }
            span.initial-font-unselected {
                display: none;
            }
        }
        span.initial-font-selected {
            display: none;
        }
        span.initial-font-unselected {
            display: inline-block;
        }

    }

    // hiding or showing legacy file format fields
    &.fontsampler-admin-hide-legacy-formats {
        .fontsampler-admin-legacy-format {
            display: none;
        }
        .fontsampler-admin-format {
        }
    }

    &.fontsampler-admin-show-legacy-formats {
        .fontsampler-admin-legacy-format {
            display: table-row;
        }
    }

    // pagination
    .fontsampler-pagination {
        margin: 1em auto;

        a {
            background: #eee;
            border: 1px solid #eee;
            color: #888;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 0.25em;
            padding: 0.25em 0.75em;
            outline: none;
            box-shadow: none;
            border-radius: 3px;
            letter-spacing: 2px;

            &.fontsampler-pagination-current-page {
                color: #008ec2;
                background: #eee;
                border: 1px solid #ccc !important;
            }

            &:hover, &:focus {
                border: 1px solid #008ec2;
                color: #006799;
            }
        }
    }


    .fontsampler-options {

        &.ui-accordion-disabled {
            h3 {
                color: @fs_color_disabled !important;
                cursor: not-allowed;
            }
        }

        // accordion header
        h3 {
            background: @fs_color_light;
            color: @fs_color_text_medium;
            cursor: pointer;
            height: 1em;
            padding: 0.5em 1em;
            outline: none;
            margin-bottom: 0;
            margin-top: 10px;

            &:hover,
            &:focus {
                color: @fs_color_link;
            }

            &.ui-accordion-header-active {
                color: @fs_color_text_medium !important;
            }
        }

        // accordion content
        fieldset {
            border: 3px solid @fs_color_light;
            display: none;
            margin: 0 0 10px;

            & > div {
                & > label {
                    margin: 0.5em 0;
                }
            }
        }
    }

    .fontsampler-options-features-details {
        overflow: auto;
        display: none;
        margin-left: 1.7em;

        input[type=range] {
            width: 100%;
        }

        input.current-value {
            width: 3em;
        }

        label {
            display: inline-block;
            margin-top: 0.25em;
            margin-left: 1em;
            margin-bottom: 0.25em;
        }

        .fontsampler-options-features-details-row {
            clear: both;
            overflow: auto;

            // every second row with background
            &:nth-of-type(2n + 1) {
                background: @fs_color_light;
            }

            // all children in one row: label, settings, default
            & > * {
                box-sizing: border-box;
                display: inline-block;
                float: left;
            }

            & > strong {
                padding: 0.25em 0 0 0.5em;
                text-transform: uppercase;
                width: 20%;
            }

            & > div {
                width: 39%;

                &:nth-of-type(1) {
                    border-left: 5px solid @fs_color_white;
                    border-right: 3px solid @fs_color_white;

                    .fontsampler-radio {
                        display: inline-block;
                        float: left;
                        width: 2em;
                    }
                }
            }
        }
    }


    label.fontsampler-radio {
        display: block;
        margin: 0.5em 0;

        input[type=radio] {
            display: inline-block;
            margin: -0.1em 0.5em 0em;
        }
        span {
            display: inline-block;
        }
    }

    .fontsampler-toggle-show-hide {
        span { display: none; }
        span:first-child { display: block; }
    }

    .fontsampler-visible {
        display: block;
    }

    // <button> link that looks just like text link
    .fontsampler-button-link {
        background: transparent;
        border: 0;
        color: @fs_color_link;
        cursor: pointer;
        display: inline-block;
        font-size: smaller;
        outline: 0;
        padding: 0 1em;
        margin: 0;
        vertical-align: text-bottom;
    }

    .fontsampler-options {
        fieldset > div > label {
            display: inline-block;
        }
    }
}
