.rangeslider,
.rangeslider__fill {
  display: block;
}
.rangeslider {
  background: #efefef;
  position: relative;
}
.rangeslider--horizontal {
  height: 1px;
  width: 100%;
  clear: both;
}
.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  background: #333;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  background: #333;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-size: 100%;
}
.rangeslider--horizontal .rangeslider__handle {
  top: -4px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -4px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
#fontsampler-admin .form-settings label {
  clear: both;
}
#fontsampler-admin .form-settings label span.setting-description,
#fontsampler-admin .form-settings label .fontsampler-admin-settings-styling small {
  display: inline-block;
  width: 23em;
}
#fontsampler-admin .form-settings label span.styling-description {
  float: left;
}
#fontsampler-admin .form-settings label div.slider {
  display: inline-block;
  width: 20em;
}
#fontsampler-admin .form-settings label span input[type="text"],
#fontsampler-admin .form-settings label span input.current-value {
  float: right;
  margin: 0 1em;
  width: 3em;
}
#fontsampler-admin .form-settings label input[type="range"] {
  width: 20em;
}
#fontsampler-admin .form-settings label textarea {
  clear: both;
  display: block;
}
#fontsampler-admin .form-settings label small {
  display: block;
  margin-bottom: 1em;
}
#fontsampler-admin .form-settings label input[type="text"] {
  width: 9em;
}
#fontsampler-admin .form-settings label input.fontsampler-admin-slider-label {
  width: 15em;
}
#fontsampler-admin #fontsampler-fontset-list li select {
  width: 22.25em;
}
#fontsampler-admin .fontsampler-fontset-inline h2 {
  display: none;
}
#fontsampler-admin .fontsampler-fontset-inline thead {
  display: none;
}
#fontsampler-admin .fontsampler-fontset-inline .fontsampler-fontset-inline-wrapper {
  display: inline-block;
  width: 24em;
}
#fontsampler-admin .fontsampler-pagination {
  margin: 1em auto;
}
#fontsampler-admin .fontsampler-pagination a {
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0.25em;
  padding: 0.1em 0.5em;
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid #fff;
  letter-spacing: 2px;
}
#fontsampler-admin .fontsampler-pagination a.fontsampler-pagination-current-page {
  color: #008ec2;
  background: #ccc;
  border: 1px solid #ccc;
}
#fontsampler-admin .fontsampler-pagination a:hover,
#fontsampler-admin .fontsampler-pagination a:focus {
  border: 1px solid #008ec2;
  color: #006799;
}
/*
 * Scope all css to be contained only within the fontsampler wrapper
 */
#fontsampler-admin {
  padding-top: 1em;
}
#fontsampler-admin header,
#fontsampler-admin main {
  background: white;
  margin: 0 1.5em 0 0;
  padding: 1em 2em;
}
#fontsampler-admin label {
  display: block;
  color: #666;
  margin: 1em 0;
}
#fontsampler-admin .submit {
  padding: 0;
  margin: 3em 0;
}
#fontsampler-admin .submit input {
  border: none;
}
#fontsampler-admin table .submit {
  margin: 1em 0;
}
#fontsampler-admin input {
  border: 1px solid #aaa;
}
#fontsampler-admin input[type=file] {
  border: 0;
}
#fontsampler-admin input[type=file]:hover,
#fontsampler-admin input[type=file]:focus {
  border: 0;
}
#fontsampler-admin fieldset {
  border: 1px solid #ccc;
  padding: 1em 2em;
}
#fontsampler-admin fieldset legend {
  font-weight: bold;
  padding: 0 0.5em;
}
#fontsampler-admin table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em auto 2em;
}
#fontsampler-admin table,
#fontsampler-admin thead,
#fontsampler-admin tbody,
#fontsampler-admin tr,
#fontsampler-admin th,
#fontsampler-admin td {
  text-align: left;
  vertical-align: middle;
}
#fontsampler-admin th,
#fontsampler-admin td {
  padding: 0.25em 0.5em;
}
#fontsampler-admin td {
  border-bottom: 1px solid #fafafa;
}
#fontsampler-admin th {
  border-bottom: 1px solid #999;
  font-weight: normal;
  font-size: larger;
  vertical-align: top;
}
#fontsampler-admin p {
  font-size: inherit;
  max-width: 40em;
}
#fontsampler-admin h1,
#fontsampler-admin h2,
#fontsampler-admin h3,
#fontsampler-admin h4,
#fontsampler-admin h5,
#fontsampler-admin h6 {
  clear: both;
  display: block;
}
#fontsampler-admin h2,
#fontsampler-admin h3,
#fontsampler-admin h4,
#fontsampler-admin h5,
#fontsampler-admin h6 {
  margin-top: 2em;
}
#fontsampler-admin small {
  color: #AAA;
  font-size: small;
  font-family: sans-serif;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#fontsampler-admin .notice {
  border: 1px solid;
  padding: 1em;
}
#fontsampler-admin code {
  border: 1px solid #ddd;
  font-family: monospace;
  background: #eee;
  padding: 0.4em 1em 0.3em;
  font-size: smaller;
  border-radius: 3px;
  text-align: center;
}
#fontsampler-admin .filename {
  font-family: monospace;
  font-size: smaller;
}
#fontsampler-admin td .fileformat {
  display: inline-block;
  width: 4em;
}
#fontsampler-admin footer {
  margin: 1.5em 1.5em 0 0;
  padding: 1em 2em 0.5em;
  background: white;
}
#fontsampler-admin footer ul {
  overflow: auto;
}
#fontsampler-admin footer li {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding-right: 1em;
  width: 20%;
  max-width: 120px;
}
#fontsampler-admin footer li > a {
  display: block;
  height: 0;
  padding-top: 62.5%;
  position: relative;
  text-align: center;
  width: 100%;
}
#fontsampler-admin footer li > a img {
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
#fontsampler-admin footer li > img {
  display: block;
  height: 12.5%;
  width: 100%;
}
#fontsampler-admin .info,
#fontsampler-admin .note,
#fontsampler-admin .error {
  display: block;
}
#fontsampler-admin .info {
  color: blue;
}
#fontsampler-admin .note {
  color: orange;
}
#fontsampler-admin .error {
  color: red;
}
#fontsampler-admin ul.real-list {
  list-style: disc;
  margin: 0 0 0 2em;
}
#fontsampler-admin #fontsampler-menu ul {
  border-bottom: 1px solid #999;
  margin: 0;
  padding: 0 1em;
}
#fontsampler-admin #fontsampler-menu ul li {
  padding: 0;
  margin: 0;
  font-size: larger;
  display: inline-block;
  border-bottom: 0;
}
#fontsampler-admin #fontsampler-menu ul li a {
  border: 1px solid #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  outline: none;
}
#fontsampler-admin #fontsampler-menu ul li a:hover,
#fontsampler-admin #fontsampler-menu ul li a:focus {
  background: #008ec2;
  border: 1px solid #006799;
  border-bottom: 0;
  color: #fff;
}
#fontsampler-admin #fontsampler-menu ul li.current {
  background: #fafafa;
}
#fontsampler-admin #fontsampler-menu ul li.current a {
  border: 1px solid #999;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
}
#fontsampler-admin .fontsampler-admin-placeholders {
  display: none;
}
#fontsampler-admin .fontsampler-options-checkbox label > span {
  display: inline;
  margin-left: -35px;
  padding-left: 0px;
  left: 40px;
  position: relative;
}
#fontsampler-admin .fontsampler-options-checkbox small {
  display: block;
  margin-left: 40px;
}
#fontsampler-admin #fontsampler-options-checkboxes {
  display: block;
}
#fontsampler-admin #fontsampler-options-checkboxes.use-defaults {
  display: none;
}
#fontsampler-admin .fontsampler-admin-column-half {
  float: left;
  margin-right: 5%;
  width: 45%;
}
#fontsampler-admin ul.fontsampler-ui-preview-list {
  border: 1px dotted #ccc;
  background: #fff;
  min-height: 4em;
  margin: 5px 0;
  padding: 5px 0;
  width: 50em;
}
#fontsampler-admin ul.fontsampler-ui-preview-list li {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  text-align: center;
  margin-right: 1.5%;
  margin-left: 1.5%;
  width: 30%;
  position: relative;
  min-height: 4em;
}
#fontsampler-admin ul.fontsampler-ui-preview-list li.fontsampler-ui-placeholder-full {
  width: 97%;
}
#fontsampler-admin ul.fontsampler-ui-preview-list .ui-state-highlight {
  background: transparent;
  border: 1px dotted orange;
}
#fontsampler-admin ul.fontsampler-ui-preview-placeholder li {
  display: none;
}
#fontsampler-admin #fontsampler-fontset-from {
  max-width: 50em;
}
#fontsampler-admin #fontsampler-edit-sample textarea[name="initial"] {
  width: 100%;
}
#fontsampler-admin .fontsampler-initial-font-selection {
  display: inline-block;
}
#fontsampler-admin .fontsampler-initial-font.selected span.initial-font-selected {
  display: inline-block;
}
#fontsampler-admin .fontsampler-initial-font.selected span.initial-font-unselected {
  display: none;
}
#fontsampler-admin .fontsampler-initial-font span.initial-font-selected {
  display: none;
}
#fontsampler-admin .fontsampler-initial-font span.initial-font-unselected {
  display: inline-block;
}
#fontsampler-admin.fontsampler-admin-hide-legacy-formats .fontsampler-admin-legacy-format {
  display: none;
}
#fontsampler-admin.fontsampler-admin-show-legacy-formats .fontsampler-admin-legacy-format {
  display: table-row;
}
